<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--1 创建目标类-->
    <bean id="userServiceId" class="dynamicproxy.d.springaop.UserServiceImpl" />
    <!--2 创建切面类-->
    <bean id="myAspectId" class="dynamicproxy.d.springaop.MyAspect" />
    <!--3 aop 编程
        3.1 导入命名空间 xmlns:aop 和 schemaLocation
        3.2 使用 <aop:config> 进行配置
            proxy-target-class="true" 时表示使用 cglib 代理
            <aop:pointcut> 切入点（要增强的目标类的方法），这里的配置要告诉 Spring 如何从目标类获得要增强的方法
            <aop:advisor> 特殊的切面，只有一个通知和一个切入点
                advice-ref 通知(针对切面类)引用
                pointcut-ref 切入点(针对目标类)引用
        3.3 切入点表达式
            execution(* dynamicproxy.d.springaop.*.*(..))
            返回值任意 包任意 类名任意 方法名任意 参数任意
    -->
    <aop:config proxy-target-class="true">
        <aop:pointcut id="myPointCut" expression="execution(* dynamicproxy.d.springaop.*.*(..))"/>
        <aop:advisor advice-ref="myAspectId" pointcut-ref="myPointCut" />
    </aop:config>
</beans>